<!DOCTYPE html>
{% extends 'home.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 class="text-center section-title divider">Who we are ?..</h2>
    <div style="width:80%;text-align:center;margin-left:10%;">
        <p>Every story begins somewhere—ours began with a love for words and a dream to share them with the world. BookaBae was created by readers, for readers. We believe that books are more than just pages and ink—they are adventures waiting to be lived, lessons waiting to be learned, and emotions waiting to be felt.

From the comfort of your screen, we bring the magic of bookstores to your fingertips. Browse, discover, and get lost in stories that move you.</p>
    </div>

<div class="d-flex mt-5 mb-5">
    <div style="height:300px;width:45%;margin-left:50px;background-color:wheat;padding:40px;" class="mt-5">
        <h2 class="section-title divider">Our Mission</h2>
        <p>To inspire a lifelong love for reading by providing an accessible, diverse, and engaging online bookstore experience that connects readers with stories, ideas, and authors from around the world.</p>
    </div>
    <div style="height:300px;width:45%;margin-left:50px;background-color:wheat; padding:40px;" class="mt-5">
        <h2 class="section-title divider">Our Vision</h2>
        <p>To become the most trusted and beloved online destination for book lovers—empowering readers, celebrating writers, and building a global community united by the joy of stories.</p>
    </div>
</div>

<section id="quotation" class="align-center pb-5 mb-5">
		<div class="inner-content">
			<h2 class="section-title divider">Quote of the day</h2>
			<blockquote data-aos="fade-up">
				<q>“The more that you read, the more things you will know. The more that you learn, the more places
					you’ll go.”</q>
				<div class="author-name">Dr. Seuss</div>
			</blockquote>
		</div>
	</section>
</body>
</html>
{% endblock %}