<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>BookShop</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/normalize.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/icomoon/icomoon.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/vendor.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/style.css'%}">

</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

	<div id="header-wrap">

		<div class="top-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="social-links">
							<ul>
								<li>
									<a href="#"><i class="icon icon-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="icon icon-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="icon icon-youtube-play"></i></a>
								</li>
								<li>
									<a href="#"><i class="icon icon-behance-square"></i></a>
								</li>
							</ul>
						</div><!--social-links-->
					</div>
					<div class="col-md-6">
						<div class="right-element">
						{% if request.session.name %}
							<a href="{% url 'user_logout' %}" class="user-account for-buy"><i
									class="icon icon-user"></i><span> Welcome {{request.session.name}}/ Logout</span></a>
							{% else %}
							<a href="{% url 'sign_in' %}" class="user-account for-buy"><i
									class="icon icon-user"></i><span>sign In</span></a>
							{% endif %}
							<a href="#" class="cart for-buy"><i class="icon icon-clipboard"></i><span>Cart:(0
									$)</span></a>
							<div class="action-menu">

								<div class="search-bar">
									<a href="#" class="search-button search-toggle" data-selector="#header-wrap">
										<i class="icon icon-search"></i>
									</a>
									<form role="search" method="get" class="search-box">
										<input class="search-field text search-input" placeholder="Search"
											type="search">
									</form>
								</div>
							</div>

						</div><!--top-right-->
					</div>

				</div>
			</div>
		</div><!--top-content-->

		<header id="header">
			<div class="container-fluid">
				<div class="row">

					<div class="col-md-2">
						<div class="main-logo">
							<a href="index.html"><img src="{% static 'web/images/main-logo.png'%}" alt="logo"></a>
						</div>

					</div>

					<div class="col-md-10">

						<nav id="navbar">
							<div class="main-menu stellarnav">
								<ul class="menu-list">
									<li class="menu-item "><a href="{% url 'home' %}">Home</a></li>
									<li  class="menu-item "><a href="{% url 'about_page' %}">About</a></li>
									<li class="menu-item has-sub">
										<a href="#pages" class="nav-link">Categories</a>

										<ul>
											{% for i in categories %}
											<li ><a href="{% url 'filtered' cat=i.name %}">{{ i.name }}</a></li>
											{% endfor %}
										</ul>

									</li>
									<li class="menu-item"><a href="{% url 'popular' %}" class="nav-link">Popular</a></li>
									<li class="menu-item"><a href="{% url 'contact' %}" class="nav-link active">Contact us</a></li>

								</ul>

								<div class="hamburger">
									<span class="bar"></span>
									<span class="bar"></span>
									<span class="bar"></span>
								</div>

							</div>
						</nav>

					</div>

				</div>
			</div>
		</header>

	</div><!--header-wrap-->

<section id="billboard">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

<!--					<button class="prev slick-arrow">-->
<!--						<i class="icon icon-arrow-left"></i>-->
<!--					</button>-->

					<div class="main-slider pattern-overlay">
						<div class="slider-item">
							<div class="banner-content">
								<h2 class="banner-title">Contact Us</h2>
								<div><i class="fa-solid fa-phone ml-2 mr-5 mt-2 mb-4" style="margin-right:10px;"> </i>+90-1234567890</div>
								<div><i class="fa-solid fa-envelope ml-2 mr-5 mb-4" style="margin-right:10px;"> </i>mail@123.com</div>
								<div><i class="fa-solid fa-location-dot ml-2 mr-5 mb-2" style="margin-right:10px;"> </i>Cadbury House<br> Uxbridge Business Park, Building 3<br> Uxbridge, Greater London, England</div>

								<div class="btn-wrap">
									<a href="#" class="btn btn-outline-accent btn-accent-arrow">Read More<i
											class="icon icon-ns-arrow-right"></i></a>
								</div>
							</div><!--banner-content-->
							<div>
							<h1 class="banner-title" style="padding:50px 75px;">Get in Touch..</h1>

								<form method="POST" action="{% url 'save_message' %}">
									{% csrf_token %}
									<div class="mt-2 mb-2"><input class="form-control" type="text" placeholder="name" name="name"></div>
									<div class="mt-2 mb-2"><input class="form-control" type="mail" placeholder="mail@gmail.com" name="mail"></div>
									<div class="mt-2 mb-2"><input class="form-control" type="text" placeholder="subject" name="subject"></div>
									<div class="mt-2 mb-2"><textarea class="form-control" type="textarea" placeholder="message" name="message"></textarea></div>
									<button class="text-center mt-3 " type="submit" style="margin-left:35%;border-radius:10%;height:35px;">Submit</button>
								</form>
							</div>
<!--							<img src="{% static 'web/images/main-banner1.jpg'%}" alt="banner" class="banner-image'%}">-->
						</div><!--slider-item-->

<!--						<div class="slider-item">-->
<!--							<div class="banner-content">-->
<!--								<h2 class="banner-title">Birds gonna be Happy</h2>-->
<!--								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero-->
<!--									ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis-->
<!--									urna, a eu.</p>-->
<!--								<div class="btn-wrap">-->
<!--									<a href="#" class="btn btn-outline-accent btn-accent-arrow">Read More<i-->
<!--											class="icon icon-ns-arrow-right"></i></a>-->
<!--								</div>-->
<!--							</div>&lt;!&ndash;banner-content&ndash;&gt;-->
<!--							<img src="{% static 'web/images/main-banner2.jpg" alt="banner" class="banner-image'%}">-->
<!--						</div>&lt;!&ndash;slider-item&ndash;&gt;-->

					</div><!--slider-->

<!--					<button class="next slick-arrow">-->
<!--						<i class="icon icon-arrow-right"></i>-->
<!--					</button>-->

				</div>
			</div>
		</div>

	</section>


<!--    footer-->
   <footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-md-4">

					<div class="footer-item">
						<div class="company-brand">
							<p>Blend the world of curiosity and imagination with yours through our books...</p>
						</div>
					</div>

				</div>

				<div class="col-md-2">

					<div class="footer-menu">
						<h5>About Us</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'about_page' %}">vision</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'about_page' %}">articles </a>
							</li>

						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Discover</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'home' %}">Home</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'popular' %}">Books</a>
							</li>
<!--							<li class="menu-item">-->
<!--								<a href="#">Authors</a>-->
<!--							</li>-->
<!--							<li class="menu-item">-->
<!--								<a href="#">Subjects</a>-->
<!--							</li>-->
<!--							<li class="menu-item">-->
<!--								<a href="#">Advanced Search</a>-->
<!--							</li>-->
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>My account</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'sign_in' %}">Sign In</a>
							</li>
							<li class="menu-item">
								<a href="#">View Cart</a>
							</li>
							<li class="menu-item">
								<a href="#">My Wishtlist</a>
							</li>
							<li class="menu-item">
								<a href="#">Track My Order</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Help</h5>
						<ul class="menu-list">


							<li class="menu-item">
								<a href="{% url 'contact' %}">Contact us</a>
							</li>
						</ul>
					</div>

				</div>

			</div>
			<!-- / row -->

		</div>
	</footer>

	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="copyright">
						<div class="row">

							<div class="col-md-6">
								<p>© 2025 All rights reserved. Bookabae
							</div>

							<div class="col-md-6">
								<div class="social-links align-right">
									<ul>
										<li>
											<a href="#"><i class="icon icon-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-youtube-play"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-behance-square"></i></a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div><!--grid-->

				</div><!--footer-bottom-content-->
			</div>
		</div>
	</div>
<!--    footer ends-->


<script src="{% static 'web/js/jquery-1.11.0.min.js'%}"></script>
	<script src="{% static 'web/https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="{% static 'web/js/plugins.js'%}"></script>
	<script src="{% static 'web/js/script.js'%}"></script>

</body>

</html>